/*
Simple Scrollbar override for all pages in (Vivaldi) Desktop Browsers
By CaminaShell 2025.03.27 - github.com/caminashell/simple-scrollbars
Requirements: Stylebot Extension v3.1+
Tested on Vivaldi 7.2.3621.71 (Stable channel) (64-bit) 
Create a new style with * (wildcard) as URL, copy & paste the code in.
*/

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-corner, ::-webkit-scrollbar-resize {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border: none;
  background-clip: padding-box;
  background-color: rgba(163,168,176,.5);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(163,168,176,.75);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  scrollbar-color: revert !important;
}
